[submodule "wp"]
    path = wp
    url = https://github.com/WordPress/WordPress.git
[submodule "private"]
    path = private
    url = git@bitbucket.org:miguelmorera/miguel-morera-site-private-stuff.git
[submodule "plugins"]
    path = content/plugins
    url = git@bitbucket.org:miguelmorera/miguel-morera-site-plugins.git
