/* ---------------------------- *\

    $Footer

\*----------------------------- */

.footer
    background-color #181726
    .logo--footer
        display inline-block
        svg
            fill $mmRed
            display block
    &__nav
        a
            color $mmRed
    &__social-networks
        a
            margin-right 15px
            display inline-block
            vertical-align middle
            &:last-child
                margin-right 0
        svg
            fill $mmRed
            display block
        .twitter svg
            width 34px
            height 29px
        .github svg
            width 36px
            height 35px
        .instagram svg
            width 29px
            height 29px
        .youtube svg
            width 35px
            height 24px
        .linkedin svg
            width 29px
            height 29px

.colophon p
    color $mmRed
    fontSize(14)
    margin-bottom 0

.scrollbar--blocked
    .alpha-warning
        width calc(100dvw - var(--scrollbar))

.menu--opened
    .alpha-warning
        z-index 0

.alpha-warning
    left 0
    bottom 0
    width 100%
    z-index 10
    opacity .8
    position fixed
    text-align right
    padding-bottom 29px
    pointer-events none
    span
        color white
        fontSize(16)
        font-weight 700
        padding 5px 15px
        border-radius 30px
        display inline-block
        text-transform uppercase
        background-color $darkGrey

.no-touch
    .footer
        .logo--footer
            svg
                transition fill $basetransition
            &:hover svg
                fill white
                transition fill $pseudotransition
        &__nav, &__social-networks
            a
                transition color $basetransition
                &:hover
                    color white
                    transition color $pseudotransition
        &__social-networks
            svg
                transition fill $basetransition
            a:hover svg
                fill white
                transition fill $pseudotransition

/* ---------------------------- *\

    $Media $Queries

\*----------------------------- */

+above(1200)
    /* $min-width: $1200px */
    
    .footer__nav a
        fontSize(20)

+above(768)
    /* $min-width: $768px */
    
    .footer
        .wrapper
            display grid
            padding-top 50px
            grid-row-gap 40px
            align-items center
            padding-bottom 50px
            grid-template-columns 30% 1fr
        .logo--footer
            order 1
            svg
                width 50px
                height 50px
        &__nav
            order 2
            text-align right
            a
                margin-left 12px
                &:first-child
                    margin-left 0
        &__social-networks
            order 4
            text-align center
        &__nav, &__social-networks
            text-align right

    .colophon
        order 3

+below(767)
    /* $max-width: $767px */
    
    .footer
        padding-top 30px
        text-align center
        padding-bottom 20px
        .logo--footer
            margin-bottom 10px
            svg
                width 80px
                height 84px
        &__nav
            margin-bottom 20px
            a
                display block
        &__social-networks
            margin-bottom 25px