/* ---------------------------- *\

    $Header

\*----------------------------- */

.header
    z-index 11
    width 100%
    color white
    position fixed
    pointer-events none
    top calc( var( --login-bar-height ) * 1px )
    svg
        fill white
    &--light
        .toggle-nav__hamburger span
            background-color white
    &--light, &[data-header-type="light"]
        color $darkGrey
        svg
            fill $darkGrey
        .toggle-nav
            color $darkGrey
            &__hamburger
                background-color $darkGrey
    &[data-header-type="light"]
        .toggle-nav__hamburger span
            background-color var( --main-page-color )

.logo
    pointer-events all
    svg
        display block

.scrollbar--blocked
    .header
        width calc(100dvw - var(--scrollbar))

.menu--opened
    .header
        color $mmPurple
        svg
            fill @color
        .toggle-nav
            color @color
            &__hamburger
                background-color @color
                span
                    background-color $mmTurquoise

.document--scrolled:not(.menu--opened)
    .header
        opacity .5
        transition opacity $basetransition

.no-touch
    .logo
        transition opacity $basetransition, transform $basetransition
        svg
            transition fill $basetransition
        &:hover
            transform scale(.9)
            transition transform $pseudotransition
    /.menu--opened
        .logo:hover 
            opacity 1
            svg
                fill $mmRed
                transition fill $pseudotransition
    /.document--scrolled:not(.menu--opened)
        .header:hover
            opacity 1
            transition opacity $pseudotransition

/* ---------------------------- *\

    $Media $Queries

\*----------------------------- */

+above(1200)
    /* $min-width: $1200px */
    
    .header
        padding 47px 3rem 20px

    .logo svg
        width 80px
        height 80px

+between(768, 1199)
    /* $min-width: $768px / $max-width: $1199px */
    
    .header
        padding 20px 1.85rem

    .logo svg
        width 50px
        height 50px

+below(767)
    /* $max-width: $767px */
    
    .header
        padding 11px 16px
        
    .logo svg
        width 30px
        height 30px